body {
    background-color: oldlace;
    font-family: 'Lato', sans-serif;
}

main {
    width: 25vw;
    height: minmax(50vh), auto;
    background-color: slategrey;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;

}

main input[type="text"] {
    width: 25vw;
    height: 3rem;
    padding: 0;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    text-align: right;
    font-size: 1.1rem;
}

.operation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 1.1rem;
    background-color: orangered;
    transition: font 1s ease;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.keypad p, .operation p {
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    padding: 1rem;
}

.keypad p:hover, .operation p:hover{
    animation-name: keypad-hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes keypad-hover {
    100% {
        transform: scale(1.2);
    }
}